<div class="page-header">
  <h2>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
</div>

<div class="row-fluid">
  <div class="span4">
	<img height="150" width="150" src="/img/2019.jpeg">
  </div>
  <div class="span8">
	<a href=https://wp.nyu.edu/ml2/people/>ML^2</a>, Center for Data Science <br/>
	New York University <br/>
	f.lastname(at)nyu.edu <br/>
	<a href="https://github.com/claravania">Github</a> <br/>
	<a href="https://www.linkedin.com/in/claravania/">LinkedIn</a>
	<a href="https://scholar.google.com/citations?user=4WvFs_IAAAAJ&hl=en">Google Scholar</a>

  </div>
</div>
<div class="row-fluid spacer">
  <div class="span12">
	{{ content }}
  </div>
</div>
